body {
  font-family: Arial, sans-serif;
  margin: 20px;
  color: black;
}

header {
  background-color: greenyellow;
  color: white;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

nav {
  background-color: antiquewhite;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 20px;
}

nav a {
  margin: 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav a:hover {
  font-weight: bold;
}

#AboutMe {
  margin-bottom: 30px;
  text-align: left;
}

.profile img {
  width: 160px;
  border-radius: 8px;
  float: left;
}

.profile-info p {
  font-size: 0.9rem;
  margin-bottom: 6px;
  display: flex;
  columns: 2;
}

.profile-info strong {
  font-weight: bold;
}

h3 {
  font-weight: bold;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  columns: 2;
}

#Hobbies {
  margin-bottom: 30px;
}

#Hobbies ul {
  list-style-type: disc;
  margin-left: 30px;
  columns: 2;
}

#Favor {
  padding-top: 20px;
}

.favor {
  text-align: left;
  margin-bottom: 130px;
}

.favor img {
  float: left;
  width: 150px;
  display: flex;
  border-radius: 10px;

}

.favor p {
  font-size: 0.9rem;
}

footer{
  background-color: antiquewhite;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  nav a {
    display: block;
    margin: 8px 0;
  }
}
